* {
    font-family: 'Open sans', 'sans-serif';
}

.page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    margin-bottom: 20px;
}

.page-main__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__button {
    width: 140px;
    height: 30px;
    box-sizing: border-box;
    border-style: none;
    background-color: #cccccc;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.11s ease;
}

.form__button:hover {
    transform: scale(1.04);
}

.form__input {
    margin-bottom: 20px;
}

.form__list {
    border-radius: 10px;
    border: solid 1px black;
    visibility: hidden;
}

.form__list__object{
    padding: 0;
}

.form__item {
    padding-right: 32px;
    padding-left: 32px;
    list-style: none;
}